{% extends 'base.html' %}

{% block content %}
여기에 새로운 것을 집어넣어야 한다
    <div class="container">
        <button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
        <button type="button" class="btn btn-secondary btn-lg btn-block">Block level button</button>
        <a href="{% url 'newphoto'%}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">사진 올리기</a>
        <a href="{% url 'gallery' %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">사진 다운받기</a>  
    </div>
{% endblock %}